<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <appSettings>
        
    </appSettings>
    <connectionStrings>
        <add name="PostgreSQL"
             connectionString="User ID=newuser;Password=password;Host=localhost;Port=5432;Database=database;"
             providerName="Npgsql"/>
    </connectionStrings>
</configuration>